body {
    margin: 0;
    background-image: url("1196669.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock {
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 10px;
}
